.row {
  overflow: hidden; }

* {
  box-sizing: border-box; }

.ju-row {
  overflow: hidden; }

[class^="ju-col-"] {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 11px; }

.group[class*="ju-col-"] {
  padding: 0; }

.ju-col-xs-1of9 {
  width: 11.11111%; }

.ju-col-xs-offset-left-1of9 {
  margin-left: 11.11111%; }

.ju-col-xs-offset-right-1of9 {
  margin-right: 11.11111%; }

.ju-col-xs-push-left-1of9 {
  left: 11.11111%; }

.ju-col-xs-pull-right-1of9 {
  right: 11.11111%; }

.ju-col-xs-2of9 {
  width: 22.22222%; }

.ju-col-xs-offset-left-2of9 {
  margin-left: 22.22222%; }

.ju-col-xs-offset-right-2of9 {
  margin-right: 22.22222%; }

.ju-col-xs-push-left-2of9 {
  left: 22.22222%; }

.ju-col-xs-pull-right-2of9 {
  right: 22.22222%; }

.ju-col-xs-3of9 {
  width: 33.33333%; }

.ju-col-xs-offset-left-3of9 {
  margin-left: 33.33333%; }

.ju-col-xs-offset-right-3of9 {
  margin-right: 33.33333%; }

.ju-col-xs-push-left-3of9 {
  left: 33.33333%; }

.ju-col-xs-pull-right-3of9 {
  right: 33.33333%; }

.ju-col-xs-4of9 {
  width: 44.44444%; }

.ju-col-xs-offset-left-4of9 {
  margin-left: 44.44444%; }

.ju-col-xs-offset-right-4of9 {
  margin-right: 44.44444%; }

.ju-col-xs-push-left-4of9 {
  left: 44.44444%; }

.ju-col-xs-pull-right-4of9 {
  right: 44.44444%; }

.ju-col-xs-5of9 {
  width: 55.55556%; }

.ju-col-xs-offset-left-5of9 {
  margin-left: 55.55556%; }

.ju-col-xs-offset-right-5of9 {
  margin-right: 55.55556%; }

.ju-col-xs-push-left-5of9 {
  left: 55.55556%; }

.ju-col-xs-pull-right-5of9 {
  right: 55.55556%; }

.ju-col-xs-6of9 {
  width: 66.66667%; }

.ju-col-xs-offset-left-6of9 {
  margin-left: 66.66667%; }

.ju-col-xs-offset-right-6of9 {
  margin-right: 66.66667%; }

.ju-col-xs-push-left-6of9 {
  left: 66.66667%; }

.ju-col-xs-pull-right-6of9 {
  right: 66.66667%; }

.ju-col-xs-7of9 {
  width: 77.77778%; }

.ju-col-xs-offset-left-7of9 {
  margin-left: 77.77778%; }

.ju-col-xs-offset-right-7of9 {
  margin-right: 77.77778%; }

.ju-col-xs-push-left-7of9 {
  left: 77.77778%; }

.ju-col-xs-pull-right-7of9 {
  right: 77.77778%; }

.ju-col-xs-8of9 {
  width: 88.88889%; }

.ju-col-xs-offset-left-8of9 {
  margin-left: 88.88889%; }

.ju-col-xs-offset-right-8of9 {
  margin-right: 88.88889%; }

.ju-col-xs-push-left-8of9 {
  left: 88.88889%; }

.ju-col-xs-pull-right-8of9 {
  right: 88.88889%; }

.ju-col-xs-9of9 {
  width: 100%; }

.ju-col-xs-offset-left-9of9 {
  margin-left: 100%; }

.ju-col-xs-offset-right-9of9 {
  margin-right: 100%; }

.ju-col-xs-push-left-9of9 {
  left: 100%; }

.ju-col-xs-pull-right-9of9 {
  right: 100%; }

.ju-col-xs-1of24 {
  width: 4.16667%; }

.ju-col-xs-offset-left-1of24 {
  margin-left: 4.16667%; }

.ju-col-xs-offset-right-1of24 {
  margin-right: 4.16667%; }

.ju-col-xs-push-left-1of24 {
  left: 4.16667%; }

.ju-col-xs-pull-right-1of24 {
  right: 4.16667%; }

.ju-col-xs-2of24 {
  width: 8.33333%; }

.ju-col-xs-offset-left-2of24 {
  margin-left: 8.33333%; }

.ju-col-xs-offset-right-2of24 {
  margin-right: 8.33333%; }

.ju-col-xs-push-left-2of24 {
  left: 8.33333%; }

.ju-col-xs-pull-right-2of24 {
  right: 8.33333%; }

.ju-col-xs-3of24 {
  width: 12.5%; }

.ju-col-xs-offset-left-3of24 {
  margin-left: 12.5%; }

.ju-col-xs-offset-right-3of24 {
  margin-right: 12.5%; }

.ju-col-xs-push-left-3of24 {
  left: 12.5%; }

.ju-col-xs-pull-right-3of24 {
  right: 12.5%; }

.ju-col-xs-4of24 {
  width: 16.66667%; }

.ju-col-xs-offset-left-4of24 {
  margin-left: 16.66667%; }

.ju-col-xs-offset-right-4of24 {
  margin-right: 16.66667%; }

.ju-col-xs-push-left-4of24 {
  left: 16.66667%; }

.ju-col-xs-pull-right-4of24 {
  right: 16.66667%; }

.ju-col-xs-5of24 {
  width: 20.83333%; }

.ju-col-xs-offset-left-5of24 {
  margin-left: 20.83333%; }

.ju-col-xs-offset-right-5of24 {
  margin-right: 20.83333%; }

.ju-col-xs-push-left-5of24 {
  left: 20.83333%; }

.ju-col-xs-pull-right-5of24 {
  right: 20.83333%; }

.ju-col-xs-6of24 {
  width: 25%; }

.ju-col-xs-offset-left-6of24 {
  margin-left: 25%; }

.ju-col-xs-offset-right-6of24 {
  margin-right: 25%; }

.ju-col-xs-push-left-6of24 {
  left: 25%; }

.ju-col-xs-pull-right-6of24 {
  right: 25%; }

.ju-col-xs-7of24 {
  width: 29.16667%; }

.ju-col-xs-offset-left-7of24 {
  margin-left: 29.16667%; }

.ju-col-xs-offset-right-7of24 {
  margin-right: 29.16667%; }

.ju-col-xs-push-left-7of24 {
  left: 29.16667%; }

.ju-col-xs-pull-right-7of24 {
  right: 29.16667%; }

.ju-col-xs-8of24 {
  width: 33.33333%; }

.ju-col-xs-offset-left-8of24 {
  margin-left: 33.33333%; }

.ju-col-xs-offset-right-8of24 {
  margin-right: 33.33333%; }

.ju-col-xs-push-left-8of24 {
  left: 33.33333%; }

.ju-col-xs-pull-right-8of24 {
  right: 33.33333%; }

.ju-col-xs-9of24 {
  width: 37.5%; }

.ju-col-xs-offset-left-9of24 {
  margin-left: 37.5%; }

.ju-col-xs-offset-right-9of24 {
  margin-right: 37.5%; }

.ju-col-xs-push-left-9of24 {
  left: 37.5%; }

.ju-col-xs-pull-right-9of24 {
  right: 37.5%; }

.ju-col-xs-10of24 {
  width: 41.66667%; }

.ju-col-xs-offset-left-10of24 {
  margin-left: 41.66667%; }

.ju-col-xs-offset-right-10of24 {
  margin-right: 41.66667%; }

.ju-col-xs-push-left-10of24 {
  left: 41.66667%; }

.ju-col-xs-pull-right-10of24 {
  right: 41.66667%; }

.ju-col-xs-11of24 {
  width: 45.83333%; }

.ju-col-xs-offset-left-11of24 {
  margin-left: 45.83333%; }

.ju-col-xs-offset-right-11of24 {
  margin-right: 45.83333%; }

.ju-col-xs-push-left-11of24 {
  left: 45.83333%; }

.ju-col-xs-pull-right-11of24 {
  right: 45.83333%; }

.ju-col-xs-12of24 {
  width: 50%; }

.ju-col-xs-offset-left-12of24 {
  margin-left: 50%; }

.ju-col-xs-offset-right-12of24 {
  margin-right: 50%; }

.ju-col-xs-push-left-12of24 {
  left: 50%; }

.ju-col-xs-pull-right-12of24 {
  right: 50%; }

.ju-col-xs-13of24 {
  width: 54.16667%; }

.ju-col-xs-offset-left-13of24 {
  margin-left: 54.16667%; }

.ju-col-xs-offset-right-13of24 {
  margin-right: 54.16667%; }

.ju-col-xs-push-left-13of24 {
  left: 54.16667%; }

.ju-col-xs-pull-right-13of24 {
  right: 54.16667%; }

.ju-col-xs-14of24 {
  width: 58.33333%; }

.ju-col-xs-offset-left-14of24 {
  margin-left: 58.33333%; }

.ju-col-xs-offset-right-14of24 {
  margin-right: 58.33333%; }

.ju-col-xs-push-left-14of24 {
  left: 58.33333%; }

.ju-col-xs-pull-right-14of24 {
  right: 58.33333%; }

.ju-col-xs-15of24 {
  width: 62.5%; }

.ju-col-xs-offset-left-15of24 {
  margin-left: 62.5%; }

.ju-col-xs-offset-right-15of24 {
  margin-right: 62.5%; }

.ju-col-xs-push-left-15of24 {
  left: 62.5%; }

.ju-col-xs-pull-right-15of24 {
  right: 62.5%; }

.ju-col-xs-16of24 {
  width: 66.66667%; }

.ju-col-xs-offset-left-16of24 {
  margin-left: 66.66667%; }

.ju-col-xs-offset-right-16of24 {
  margin-right: 66.66667%; }

.ju-col-xs-push-left-16of24 {
  left: 66.66667%; }

.ju-col-xs-pull-right-16of24 {
  right: 66.66667%; }

.ju-col-xs-17of24 {
  width: 70.83333%; }

.ju-col-xs-offset-left-17of24 {
  margin-left: 70.83333%; }

.ju-col-xs-offset-right-17of24 {
  margin-right: 70.83333%; }

.ju-col-xs-push-left-17of24 {
  left: 70.83333%; }

.ju-col-xs-pull-right-17of24 {
  right: 70.83333%; }

.ju-col-xs-18of24 {
  width: 75%; }

.ju-col-xs-offset-left-18of24 {
  margin-left: 75%; }

.ju-col-xs-offset-right-18of24 {
  margin-right: 75%; }

.ju-col-xs-push-left-18of24 {
  left: 75%; }

.ju-col-xs-pull-right-18of24 {
  right: 75%; }

.ju-col-xs-19of24 {
  width: 79.16667%; }

.ju-col-xs-offset-left-19of24 {
  margin-left: 79.16667%; }

.ju-col-xs-offset-right-19of24 {
  margin-right: 79.16667%; }

.ju-col-xs-push-left-19of24 {
  left: 79.16667%; }

.ju-col-xs-pull-right-19of24 {
  right: 79.16667%; }

.ju-col-xs-20of24 {
  width: 83.33333%; }

.ju-col-xs-offset-left-20of24 {
  margin-left: 83.33333%; }

.ju-col-xs-offset-right-20of24 {
  margin-right: 83.33333%; }

.ju-col-xs-push-left-20of24 {
  left: 83.33333%; }

.ju-col-xs-pull-right-20of24 {
  right: 83.33333%; }

.ju-col-xs-21of24 {
  width: 87.5%; }

.ju-col-xs-offset-left-21of24 {
  margin-left: 87.5%; }

.ju-col-xs-offset-right-21of24 {
  margin-right: 87.5%; }

.ju-col-xs-push-left-21of24 {
  left: 87.5%; }

.ju-col-xs-pull-right-21of24 {
  right: 87.5%; }

.ju-col-xs-22of24 {
  width: 91.66667%; }

.ju-col-xs-offset-left-22of24 {
  margin-left: 91.66667%; }

.ju-col-xs-offset-right-22of24 {
  margin-right: 91.66667%; }

.ju-col-xs-push-left-22of24 {
  left: 91.66667%; }

.ju-col-xs-pull-right-22of24 {
  right: 91.66667%; }

.ju-col-xs-23of24 {
  width: 95.83333%; }

.ju-col-xs-offset-left-23of24 {
  margin-left: 95.83333%; }

.ju-col-xs-offset-right-23of24 {
  margin-right: 95.83333%; }

.ju-col-xs-push-left-23of24 {
  left: 95.83333%; }

.ju-col-xs-pull-right-23of24 {
  right: 95.83333%; }

.ju-col-xs-24of24 {
  width: 100%; }

.ju-col-xs-offset-left-24of24 {
  margin-left: 100%; }

.ju-col-xs-offset-right-24of24 {
  margin-right: 100%; }

.ju-col-xs-push-left-24of24 {
  left: 100%; }

.ju-col-xs-pull-right-24of24 {
  right: 100%; }

/*  mobile */
/* pre mobile */
@media (min-width: 640px) and (max-width: 960px) {
  .ju-col-ms-1of9 {
    width: 11.11111%; }
  .ju-col-ms-offset-left-1of9 {
    margin-left: 11.11111%; }
  .ju-col-ms-offset-right-1of9 {
    margin-right: 11.11111%; }
  .ju-col-ms-push-left-1of9 {
    left: 11.11111%; }
  .ju-col-ms-pull-right-1of9 {
    right: 11.11111%; }
  .ju-col-ms-2of9 {
    width: 22.22222%; }
  .ju-col-ms-offset-left-2of9 {
    margin-left: 22.22222%; }
  .ju-col-ms-offset-right-2of9 {
    margin-right: 22.22222%; }
  .ju-col-ms-push-left-2of9 {
    left: 22.22222%; }
  .ju-col-ms-pull-right-2of9 {
    right: 22.22222%; }
  .ju-col-ms-3of9 {
    width: 33.33333%; }
  .ju-col-ms-offset-left-3of9 {
    margin-left: 33.33333%; }
  .ju-col-ms-offset-right-3of9 {
    margin-right: 33.33333%; }
  .ju-col-ms-push-left-3of9 {
    left: 33.33333%; }
  .ju-col-ms-pull-right-3of9 {
    right: 33.33333%; }
  .ju-col-ms-4of9 {
    width: 44.44444%; }
  .ju-col-ms-offset-left-4of9 {
    margin-left: 44.44444%; }
  .ju-col-ms-offset-right-4of9 {
    margin-right: 44.44444%; }
  .ju-col-ms-push-left-4of9 {
    left: 44.44444%; }
  .ju-col-ms-pull-right-4of9 {
    right: 44.44444%; }
  .ju-col-ms-5of9 {
    width: 55.55556%; }
  .ju-col-ms-offset-left-5of9 {
    margin-left: 55.55556%; }
  .ju-col-ms-offset-right-5of9 {
    margin-right: 55.55556%; }
  .ju-col-ms-push-left-5of9 {
    left: 55.55556%; }
  .ju-col-ms-pull-right-5of9 {
    right: 55.55556%; }
  .ju-col-ms-6of9 {
    width: 66.66667%; }
  .ju-col-ms-offset-left-6of9 {
    margin-left: 66.66667%; }
  .ju-col-ms-offset-right-6of9 {
    margin-right: 66.66667%; }
  .ju-col-ms-push-left-6of9 {
    left: 66.66667%; }
  .ju-col-ms-pull-right-6of9 {
    right: 66.66667%; }
  .ju-col-ms-7of9 {
    width: 77.77778%; }
  .ju-col-ms-offset-left-7of9 {
    margin-left: 77.77778%; }
  .ju-col-ms-offset-right-7of9 {
    margin-right: 77.77778%; }
  .ju-col-ms-push-left-7of9 {
    left: 77.77778%; }
  .ju-col-ms-pull-right-7of9 {
    right: 77.77778%; }
  .ju-col-ms-8of9 {
    width: 88.88889%; }
  .ju-col-ms-offset-left-8of9 {
    margin-left: 88.88889%; }
  .ju-col-ms-offset-right-8of9 {
    margin-right: 88.88889%; }
  .ju-col-ms-push-left-8of9 {
    left: 88.88889%; }
  .ju-col-ms-pull-right-8of9 {
    right: 88.88889%; }
  .ju-col-ms-9of9 {
    width: 100%; }
  .ju-col-ms-offset-left-9of9 {
    margin-left: 100%; }
  .ju-col-ms-offset-right-9of9 {
    margin-right: 100%; }
  .ju-col-ms-push-left-9of9 {
    left: 100%; }
  .ju-col-ms-pull-right-9of9 {
    right: 100%; }
  .ju-col-ms-1of24 {
    width: 4.16667%; }
  .ju-col-ms-offset-left-1of24 {
    margin-left: 4.16667%; }
  .ju-col-ms-offset-right-1of24 {
    margin-right: 4.16667%; }
  .ju-col-ms-push-left-1of24 {
    left: 4.16667%; }
  .ju-col-ms-pull-right-1of24 {
    right: 4.16667%; }
  .ju-col-ms-2of24 {
    width: 8.33333%; }
  .ju-col-ms-offset-left-2of24 {
    margin-left: 8.33333%; }
  .ju-col-ms-offset-right-2of24 {
    margin-right: 8.33333%; }
  .ju-col-ms-push-left-2of24 {
    left: 8.33333%; }
  .ju-col-ms-pull-right-2of24 {
    right: 8.33333%; }
  .ju-col-ms-3of24 {
    width: 12.5%; }
  .ju-col-ms-offset-left-3of24 {
    margin-left: 12.5%; }
  .ju-col-ms-offset-right-3of24 {
    margin-right: 12.5%; }
  .ju-col-ms-push-left-3of24 {
    left: 12.5%; }
  .ju-col-ms-pull-right-3of24 {
    right: 12.5%; }
  .ju-col-ms-4of24 {
    width: 16.66667%; }
  .ju-col-ms-offset-left-4of24 {
    margin-left: 16.66667%; }
  .ju-col-ms-offset-right-4of24 {
    margin-right: 16.66667%; }
  .ju-col-ms-push-left-4of24 {
    left: 16.66667%; }
  .ju-col-ms-pull-right-4of24 {
    right: 16.66667%; }
  .ju-col-ms-5of24 {
    width: 20.83333%; }
  .ju-col-ms-offset-left-5of24 {
    margin-left: 20.83333%; }
  .ju-col-ms-offset-right-5of24 {
    margin-right: 20.83333%; }
  .ju-col-ms-push-left-5of24 {
    left: 20.83333%; }
  .ju-col-ms-pull-right-5of24 {
    right: 20.83333%; }
  .ju-col-ms-6of24 {
    width: 25%; }
  .ju-col-ms-offset-left-6of24 {
    margin-left: 25%; }
  .ju-col-ms-offset-right-6of24 {
    margin-right: 25%; }
  .ju-col-ms-push-left-6of24 {
    left: 25%; }
  .ju-col-ms-pull-right-6of24 {
    right: 25%; }
  .ju-col-ms-7of24 {
    width: 29.16667%; }
  .ju-col-ms-offset-left-7of24 {
    margin-left: 29.16667%; }
  .ju-col-ms-offset-right-7of24 {
    margin-right: 29.16667%; }
  .ju-col-ms-push-left-7of24 {
    left: 29.16667%; }
  .ju-col-ms-pull-right-7of24 {
    right: 29.16667%; }
  .ju-col-ms-8of24 {
    width: 33.33333%; }
  .ju-col-ms-offset-left-8of24 {
    margin-left: 33.33333%; }
  .ju-col-ms-offset-right-8of24 {
    margin-right: 33.33333%; }
  .ju-col-ms-push-left-8of24 {
    left: 33.33333%; }
  .ju-col-ms-pull-right-8of24 {
    right: 33.33333%; }
  .ju-col-ms-9of24 {
    width: 37.5%; }
  .ju-col-ms-offset-left-9of24 {
    margin-left: 37.5%; }
  .ju-col-ms-offset-right-9of24 {
    margin-right: 37.5%; }
  .ju-col-ms-push-left-9of24 {
    left: 37.5%; }
  .ju-col-ms-pull-right-9of24 {
    right: 37.5%; }
  .ju-col-ms-10of24 {
    width: 41.66667%; }
  .ju-col-ms-offset-left-10of24 {
    margin-left: 41.66667%; }
  .ju-col-ms-offset-right-10of24 {
    margin-right: 41.66667%; }
  .ju-col-ms-push-left-10of24 {
    left: 41.66667%; }
  .ju-col-ms-pull-right-10of24 {
    right: 41.66667%; }
  .ju-col-ms-11of24 {
    width: 45.83333%; }
  .ju-col-ms-offset-left-11of24 {
    margin-left: 45.83333%; }
  .ju-col-ms-offset-right-11of24 {
    margin-right: 45.83333%; }
  .ju-col-ms-push-left-11of24 {
    left: 45.83333%; }
  .ju-col-ms-pull-right-11of24 {
    right: 45.83333%; }
  .ju-col-ms-12of24 {
    width: 50%; }
  .ju-col-ms-offset-left-12of24 {
    margin-left: 50%; }
  .ju-col-ms-offset-right-12of24 {
    margin-right: 50%; }
  .ju-col-ms-push-left-12of24 {
    left: 50%; }
  .ju-col-ms-pull-right-12of24 {
    right: 50%; }
  .ju-col-ms-13of24 {
    width: 54.16667%; }
  .ju-col-ms-offset-left-13of24 {
    margin-left: 54.16667%; }
  .ju-col-ms-offset-right-13of24 {
    margin-right: 54.16667%; }
  .ju-col-ms-push-left-13of24 {
    left: 54.16667%; }
  .ju-col-ms-pull-right-13of24 {
    right: 54.16667%; }
  .ju-col-ms-14of24 {
    width: 58.33333%; }
  .ju-col-ms-offset-left-14of24 {
    margin-left: 58.33333%; }
  .ju-col-ms-offset-right-14of24 {
    margin-right: 58.33333%; }
  .ju-col-ms-push-left-14of24 {
    left: 58.33333%; }
  .ju-col-ms-pull-right-14of24 {
    right: 58.33333%; }
  .ju-col-ms-15of24 {
    width: 62.5%; }
  .ju-col-ms-offset-left-15of24 {
    margin-left: 62.5%; }
  .ju-col-ms-offset-right-15of24 {
    margin-right: 62.5%; }
  .ju-col-ms-push-left-15of24 {
    left: 62.5%; }
  .ju-col-ms-pull-right-15of24 {
    right: 62.5%; }
  .ju-col-ms-16of24 {
    width: 66.66667%; }
  .ju-col-ms-offset-left-16of24 {
    margin-left: 66.66667%; }
  .ju-col-ms-offset-right-16of24 {
    margin-right: 66.66667%; }
  .ju-col-ms-push-left-16of24 {
    left: 66.66667%; }
  .ju-col-ms-pull-right-16of24 {
    right: 66.66667%; }
  .ju-col-ms-17of24 {
    width: 70.83333%; }
  .ju-col-ms-offset-left-17of24 {
    margin-left: 70.83333%; }
  .ju-col-ms-offset-right-17of24 {
    margin-right: 70.83333%; }
  .ju-col-ms-push-left-17of24 {
    left: 70.83333%; }
  .ju-col-ms-pull-right-17of24 {
    right: 70.83333%; }
  .ju-col-ms-18of24 {
    width: 75%; }
  .ju-col-ms-offset-left-18of24 {
    margin-left: 75%; }
  .ju-col-ms-offset-right-18of24 {
    margin-right: 75%; }
  .ju-col-ms-push-left-18of24 {
    left: 75%; }
  .ju-col-ms-pull-right-18of24 {
    right: 75%; }
  .ju-col-ms-19of24 {
    width: 79.16667%; }
  .ju-col-ms-offset-left-19of24 {
    margin-left: 79.16667%; }
  .ju-col-ms-offset-right-19of24 {
    margin-right: 79.16667%; }
  .ju-col-ms-push-left-19of24 {
    left: 79.16667%; }
  .ju-col-ms-pull-right-19of24 {
    right: 79.16667%; }
  .ju-col-ms-20of24 {
    width: 83.33333%; }
  .ju-col-ms-offset-left-20of24 {
    margin-left: 83.33333%; }
  .ju-col-ms-offset-right-20of24 {
    margin-right: 83.33333%; }
  .ju-col-ms-push-left-20of24 {
    left: 83.33333%; }
  .ju-col-ms-pull-right-20of24 {
    right: 83.33333%; }
  .ju-col-ms-21of24 {
    width: 87.5%; }
  .ju-col-ms-offset-left-21of24 {
    margin-left: 87.5%; }
  .ju-col-ms-offset-right-21of24 {
    margin-right: 87.5%; }
  .ju-col-ms-push-left-21of24 {
    left: 87.5%; }
  .ju-col-ms-pull-right-21of24 {
    right: 87.5%; }
  .ju-col-ms-22of24 {
    width: 91.66667%; }
  .ju-col-ms-offset-left-22of24 {
    margin-left: 91.66667%; }
  .ju-col-ms-offset-right-22of24 {
    margin-right: 91.66667%; }
  .ju-col-ms-push-left-22of24 {
    left: 91.66667%; }
  .ju-col-ms-pull-right-22of24 {
    right: 91.66667%; }
  .ju-col-ms-23of24 {
    width: 95.83333%; }
  .ju-col-ms-offset-left-23of24 {
    margin-left: 95.83333%; }
  .ju-col-ms-offset-right-23of24 {
    margin-right: 95.83333%; }
  .ju-col-ms-push-left-23of24 {
    left: 95.83333%; }
  .ju-col-ms-pull-right-23of24 {
    right: 95.83333%; }
  .ju-col-ms-24of24 {
    width: 100%; }
  .ju-col-ms-offset-left-24of24 {
    margin-left: 100%; }
  .ju-col-ms-offset-right-24of24 {
    margin-right: 100%; }
  .ju-col-ms-push-left-24of24 {
    left: 100%; }
  .ju-col-ms-pull-right-24of24 {
    right: 100%; } }

/* tablet */
@media (min-width: 960px) {
  .ju-col-md-1of9 {
    width: 11.11111%; }
  .ju-col-md-offset-left-1of9 {
    margin-left: 11.11111%; }
  .ju-col-md-offset-right-1of9 {
    margin-right: 11.11111%; }
  .ju-col-md-push-left-1of9 {
    left: 11.11111%; }
  .ju-col-md-pull-right-1of9 {
    right: 11.11111%; }
  .ju-col-md-2of9 {
    width: 22.22222%; }
  .ju-col-md-offset-left-2of9 {
    margin-left: 22.22222%; }
  .ju-col-md-offset-right-2of9 {
    margin-right: 22.22222%; }
  .ju-col-md-push-left-2of9 {
    left: 22.22222%; }
  .ju-col-md-pull-right-2of9 {
    right: 22.22222%; }
  .ju-col-md-3of9 {
    width: 33.33333%; }
  .ju-col-md-offset-left-3of9 {
    margin-left: 33.33333%; }
  .ju-col-md-offset-right-3of9 {
    margin-right: 33.33333%; }
  .ju-col-md-push-left-3of9 {
    left: 33.33333%; }
  .ju-col-md-pull-right-3of9 {
    right: 33.33333%; }
  .ju-col-md-4of9 {
    width: 44.44444%; }
  .ju-col-md-offset-left-4of9 {
    margin-left: 44.44444%; }
  .ju-col-md-offset-right-4of9 {
    margin-right: 44.44444%; }
  .ju-col-md-push-left-4of9 {
    left: 44.44444%; }
  .ju-col-md-pull-right-4of9 {
    right: 44.44444%; }
  .ju-col-md-5of9 {
    width: 55.55556%; }
  .ju-col-md-offset-left-5of9 {
    margin-left: 55.55556%; }
  .ju-col-md-offset-right-5of9 {
    margin-right: 55.55556%; }
  .ju-col-md-push-left-5of9 {
    left: 55.55556%; }
  .ju-col-md-pull-right-5of9 {
    right: 55.55556%; }
  .ju-col-md-6of9 {
    width: 66.66667%; }
  .ju-col-md-offset-left-6of9 {
    margin-left: 66.66667%; }
  .ju-col-md-offset-right-6of9 {
    margin-right: 66.66667%; }
  .ju-col-md-push-left-6of9 {
    left: 66.66667%; }
  .ju-col-md-pull-right-6of9 {
    right: 66.66667%; }
  .ju-col-md-7of9 {
    width: 77.77778%; }
  .ju-col-md-offset-left-7of9 {
    margin-left: 77.77778%; }
  .ju-col-md-offset-right-7of9 {
    margin-right: 77.77778%; }
  .ju-col-md-push-left-7of9 {
    left: 77.77778%; }
  .ju-col-md-pull-right-7of9 {
    right: 77.77778%; }
  .ju-col-md-8of9 {
    width: 88.88889%; }
  .ju-col-md-offset-left-8of9 {
    margin-left: 88.88889%; }
  .ju-col-md-offset-right-8of9 {
    margin-right: 88.88889%; }
  .ju-col-md-push-left-8of9 {
    left: 88.88889%; }
  .ju-col-md-pull-right-8of9 {
    right: 88.88889%; }
  .ju-col-md-9of9 {
    width: 100%; }
  .ju-col-md-offset-left-9of9 {
    margin-left: 100%; }
  .ju-col-md-offset-right-9of9 {
    margin-right: 100%; }
  .ju-col-md-push-left-9of9 {
    left: 100%; }
  .ju-col-md-pull-right-9of9 {
    right: 100%; }
  .ju-col-md-1of24 {
    width: 4.16667%; }
  .ju-col-md-offset-left-1of24 {
    margin-left: 4.16667%; }
  .ju-col-md-offset-right-1of24 {
    margin-right: 4.16667%; }
  .ju-col-md-push-left-1of24 {
    left: 4.16667%; }
  .ju-col-md-pull-right-1of24 {
    right: 4.16667%; }
  .ju-col-md-2of24 {
    width: 8.33333%; }
  .ju-col-md-offset-left-2of24 {
    margin-left: 8.33333%; }
  .ju-col-md-offset-right-2of24 {
    margin-right: 8.33333%; }
  .ju-col-md-push-left-2of24 {
    left: 8.33333%; }
  .ju-col-md-pull-right-2of24 {
    right: 8.33333%; }
  .ju-col-md-3of24 {
    width: 12.5%; }
  .ju-col-md-offset-left-3of24 {
    margin-left: 12.5%; }
  .ju-col-md-offset-right-3of24 {
    margin-right: 12.5%; }
  .ju-col-md-push-left-3of24 {
    left: 12.5%; }
  .ju-col-md-pull-right-3of24 {
    right: 12.5%; }
  .ju-col-md-4of24 {
    width: 16.66667%; }
  .ju-col-md-offset-left-4of24 {
    margin-left: 16.66667%; }
  .ju-col-md-offset-right-4of24 {
    margin-right: 16.66667%; }
  .ju-col-md-push-left-4of24 {
    left: 16.66667%; }
  .ju-col-md-pull-right-4of24 {
    right: 16.66667%; }
  .ju-col-md-5of24 {
    width: 20.83333%; }
  .ju-col-md-offset-left-5of24 {
    margin-left: 20.83333%; }
  .ju-col-md-offset-right-5of24 {
    margin-right: 20.83333%; }
  .ju-col-md-push-left-5of24 {
    left: 20.83333%; }
  .ju-col-md-pull-right-5of24 {
    right: 20.83333%; }
  .ju-col-md-6of24 {
    width: 25%; }
  .ju-col-md-offset-left-6of24 {
    margin-left: 25%; }
  .ju-col-md-offset-right-6of24 {
    margin-right: 25%; }
  .ju-col-md-push-left-6of24 {
    left: 25%; }
  .ju-col-md-pull-right-6of24 {
    right: 25%; }
  .ju-col-md-7of24 {
    width: 29.16667%; }
  .ju-col-md-offset-left-7of24 {
    margin-left: 29.16667%; }
  .ju-col-md-offset-right-7of24 {
    margin-right: 29.16667%; }
  .ju-col-md-push-left-7of24 {
    left: 29.16667%; }
  .ju-col-md-pull-right-7of24 {
    right: 29.16667%; }
  .ju-col-md-8of24 {
    width: 33.33333%; }
  .ju-col-md-offset-left-8of24 {
    margin-left: 33.33333%; }
  .ju-col-md-offset-right-8of24 {
    margin-right: 33.33333%; }
  .ju-col-md-push-left-8of24 {
    left: 33.33333%; }
  .ju-col-md-pull-right-8of24 {
    right: 33.33333%; }
  .ju-col-md-9of24 {
    width: 37.5%; }
  .ju-col-md-offset-left-9of24 {
    margin-left: 37.5%; }
  .ju-col-md-offset-right-9of24 {
    margin-right: 37.5%; }
  .ju-col-md-push-left-9of24 {
    left: 37.5%; }
  .ju-col-md-pull-right-9of24 {
    right: 37.5%; }
  .ju-col-md-10of24 {
    width: 41.66667%; }
  .ju-col-md-offset-left-10of24 {
    margin-left: 41.66667%; }
  .ju-col-md-offset-right-10of24 {
    margin-right: 41.66667%; }
  .ju-col-md-push-left-10of24 {
    left: 41.66667%; }
  .ju-col-md-pull-right-10of24 {
    right: 41.66667%; }
  .ju-col-md-11of24 {
    width: 45.83333%; }
  .ju-col-md-offset-left-11of24 {
    margin-left: 45.83333%; }
  .ju-col-md-offset-right-11of24 {
    margin-right: 45.83333%; }
  .ju-col-md-push-left-11of24 {
    left: 45.83333%; }
  .ju-col-md-pull-right-11of24 {
    right: 45.83333%; }
  .ju-col-md-12of24 {
    width: 50%; }
  .ju-col-md-offset-left-12of24 {
    margin-left: 50%; }
  .ju-col-md-offset-right-12of24 {
    margin-right: 50%; }
  .ju-col-md-push-left-12of24 {
    left: 50%; }
  .ju-col-md-pull-right-12of24 {
    right: 50%; }
  .ju-col-md-13of24 {
    width: 54.16667%; }
  .ju-col-md-offset-left-13of24 {
    margin-left: 54.16667%; }
  .ju-col-md-offset-right-13of24 {
    margin-right: 54.16667%; }
  .ju-col-md-push-left-13of24 {
    left: 54.16667%; }
  .ju-col-md-pull-right-13of24 {
    right: 54.16667%; }
  .ju-col-md-14of24 {
    width: 58.33333%; }
  .ju-col-md-offset-left-14of24 {
    margin-left: 58.33333%; }
  .ju-col-md-offset-right-14of24 {
    margin-right: 58.33333%; }
  .ju-col-md-push-left-14of24 {
    left: 58.33333%; }
  .ju-col-md-pull-right-14of24 {
    right: 58.33333%; }
  .ju-col-md-15of24 {
    width: 62.5%; }
  .ju-col-md-offset-left-15of24 {
    margin-left: 62.5%; }
  .ju-col-md-offset-right-15of24 {
    margin-right: 62.5%; }
  .ju-col-md-push-left-15of24 {
    left: 62.5%; }
  .ju-col-md-pull-right-15of24 {
    right: 62.5%; }
  .ju-col-md-16of24 {
    width: 66.66667%; }
  .ju-col-md-offset-left-16of24 {
    margin-left: 66.66667%; }
  .ju-col-md-offset-right-16of24 {
    margin-right: 66.66667%; }
  .ju-col-md-push-left-16of24 {
    left: 66.66667%; }
  .ju-col-md-pull-right-16of24 {
    right: 66.66667%; }
  .ju-col-md-17of24 {
    width: 70.83333%; }
  .ju-col-md-offset-left-17of24 {
    margin-left: 70.83333%; }
  .ju-col-md-offset-right-17of24 {
    margin-right: 70.83333%; }
  .ju-col-md-push-left-17of24 {
    left: 70.83333%; }
  .ju-col-md-pull-right-17of24 {
    right: 70.83333%; }
  .ju-col-md-18of24 {
    width: 75%; }
  .ju-col-md-offset-left-18of24 {
    margin-left: 75%; }
  .ju-col-md-offset-right-18of24 {
    margin-right: 75%; }
  .ju-col-md-push-left-18of24 {
    left: 75%; }
  .ju-col-md-pull-right-18of24 {
    right: 75%; }
  .ju-col-md-19of24 {
    width: 79.16667%; }
  .ju-col-md-offset-left-19of24 {
    margin-left: 79.16667%; }
  .ju-col-md-offset-right-19of24 {
    margin-right: 79.16667%; }
  .ju-col-md-push-left-19of24 {
    left: 79.16667%; }
  .ju-col-md-pull-right-19of24 {
    right: 79.16667%; }
  .ju-col-md-20of24 {
    width: 83.33333%; }
  .ju-col-md-offset-left-20of24 {
    margin-left: 83.33333%; }
  .ju-col-md-offset-right-20of24 {
    margin-right: 83.33333%; }
  .ju-col-md-push-left-20of24 {
    left: 83.33333%; }
  .ju-col-md-pull-right-20of24 {
    right: 83.33333%; }
  .ju-col-md-21of24 {
    width: 87.5%; }
  .ju-col-md-offset-left-21of24 {
    margin-left: 87.5%; }
  .ju-col-md-offset-right-21of24 {
    margin-right: 87.5%; }
  .ju-col-md-push-left-21of24 {
    left: 87.5%; }
  .ju-col-md-pull-right-21of24 {
    right: 87.5%; }
  .ju-col-md-22of24 {
    width: 91.66667%; }
  .ju-col-md-offset-left-22of24 {
    margin-left: 91.66667%; }
  .ju-col-md-offset-right-22of24 {
    margin-right: 91.66667%; }
  .ju-col-md-push-left-22of24 {
    left: 91.66667%; }
  .ju-col-md-pull-right-22of24 {
    right: 91.66667%; }
  .ju-col-md-23of24 {
    width: 95.83333%; }
  .ju-col-md-offset-left-23of24 {
    margin-left: 95.83333%; }
  .ju-col-md-offset-right-23of24 {
    margin-right: 95.83333%; }
  .ju-col-md-push-left-23of24 {
    left: 95.83333%; }
  .ju-col-md-pull-right-23of24 {
    right: 95.83333%; }
  .ju-col-md-24of24 {
    width: 100%; }
  .ju-col-md-offset-left-24of24 {
    margin-left: 100%; }
  .ju-col-md-offset-right-24of24 {
    margin-right: 100%; }
  .ju-col-md-push-left-24of24 {
    left: 100%; }
  .ju-col-md-pull-right-24of24 {
    right: 100%; } }

/* desktop */
@media (min-width: 1200px) {
  .ju-col-lg-1of9 {
    width: 11.11111%; }
  .ju-col-lg-offset-left-1of9 {
    margin-left: 11.11111%; }
  .ju-col-lg-offset-right-1of9 {
    margin-right: 11.11111%; }
  .ju-col-lg-push-left-1of9 {
    left: 11.11111%; }
  .ju-col-lg-pull-right-1of9 {
    right: 11.11111%; }
  .ju-col-lg-2of9 {
    width: 22.22222%; }
  .ju-col-lg-offset-left-2of9 {
    margin-left: 22.22222%; }
  .ju-col-lg-offset-right-2of9 {
    margin-right: 22.22222%; }
  .ju-col-lg-push-left-2of9 {
    left: 22.22222%; }
  .ju-col-lg-pull-right-2of9 {
    right: 22.22222%; }
  .ju-col-lg-3of9 {
    width: 33.33333%; }
  .ju-col-lg-offset-left-3of9 {
    margin-left: 33.33333%; }
  .ju-col-lg-offset-right-3of9 {
    margin-right: 33.33333%; }
  .ju-col-lg-push-left-3of9 {
    left: 33.33333%; }
  .ju-col-lg-pull-right-3of9 {
    right: 33.33333%; }
  .ju-col-lg-4of9 {
    width: 44.44444%; }
  .ju-col-lg-offset-left-4of9 {
    margin-left: 44.44444%; }
  .ju-col-lg-offset-right-4of9 {
    margin-right: 44.44444%; }
  .ju-col-lg-push-left-4of9 {
    left: 44.44444%; }
  .ju-col-lg-pull-right-4of9 {
    right: 44.44444%; }
  .ju-col-lg-5of9 {
    width: 55.55556%; }
  .ju-col-lg-offset-left-5of9 {
    margin-left: 55.55556%; }
  .ju-col-lg-offset-right-5of9 {
    margin-right: 55.55556%; }
  .ju-col-lg-push-left-5of9 {
    left: 55.55556%; }
  .ju-col-lg-pull-right-5of9 {
    right: 55.55556%; }
  .ju-col-lg-6of9 {
    width: 66.66667%; }
  .ju-col-lg-offset-left-6of9 {
    margin-left: 66.66667%; }
  .ju-col-lg-offset-right-6of9 {
    margin-right: 66.66667%; }
  .ju-col-lg-push-left-6of9 {
    left: 66.66667%; }
  .ju-col-lg-pull-right-6of9 {
    right: 66.66667%; }
  .ju-col-lg-7of9 {
    width: 77.77778%; }
  .ju-col-lg-offset-left-7of9 {
    margin-left: 77.77778%; }
  .ju-col-lg-offset-right-7of9 {
    margin-right: 77.77778%; }
  .ju-col-lg-push-left-7of9 {
    left: 77.77778%; }
  .ju-col-lg-pull-right-7of9 {
    right: 77.77778%; }
  .ju-col-lg-8of9 {
    width: 88.88889%; }
  .ju-col-lg-offset-left-8of9 {
    margin-left: 88.88889%; }
  .ju-col-lg-offset-right-8of9 {
    margin-right: 88.88889%; }
  .ju-col-lg-push-left-8of9 {
    left: 88.88889%; }
  .ju-col-lg-pull-right-8of9 {
    right: 88.88889%; }
  .ju-col-lg-9of9 {
    width: 100%; }
  .ju-col-lg-offset-left-9of9 {
    margin-left: 100%; }
  .ju-col-lg-offset-right-9of9 {
    margin-right: 100%; }
  .ju-col-lg-push-left-9of9 {
    left: 100%; }
  .ju-col-lg-pull-right-9of9 {
    right: 100%; }
  .ju-col-lg-1of24 {
    width: 4.16667%; }
  .ju-col-lg-offset-left-1of24 {
    margin-left: 4.16667%; }
  .ju-col-lg-offset-right-1of24 {
    margin-right: 4.16667%; }
  .ju-col-lg-push-left-1of24 {
    left: 4.16667%; }
  .ju-col-lg-pull-right-1of24 {
    right: 4.16667%; }
  .ju-col-lg-2of24 {
    width: 8.33333%; }
  .ju-col-lg-offset-left-2of24 {
    margin-left: 8.33333%; }
  .ju-col-lg-offset-right-2of24 {
    margin-right: 8.33333%; }
  .ju-col-lg-push-left-2of24 {
    left: 8.33333%; }
  .ju-col-lg-pull-right-2of24 {
    right: 8.33333%; }
  .ju-col-lg-3of24 {
    width: 12.5%; }
  .ju-col-lg-offset-left-3of24 {
    margin-left: 12.5%; }
  .ju-col-lg-offset-right-3of24 {
    margin-right: 12.5%; }
  .ju-col-lg-push-left-3of24 {
    left: 12.5%; }
  .ju-col-lg-pull-right-3of24 {
    right: 12.5%; }
  .ju-col-lg-4of24 {
    width: 16.66667%; }
  .ju-col-lg-offset-left-4of24 {
    margin-left: 16.66667%; }
  .ju-col-lg-offset-right-4of24 {
    margin-right: 16.66667%; }
  .ju-col-lg-push-left-4of24 {
    left: 16.66667%; }
  .ju-col-lg-pull-right-4of24 {
    right: 16.66667%; }
  .ju-col-lg-5of24 {
    width: 20.83333%; }
  .ju-col-lg-offset-left-5of24 {
    margin-left: 20.83333%; }
  .ju-col-lg-offset-right-5of24 {
    margin-right: 20.83333%; }
  .ju-col-lg-push-left-5of24 {
    left: 20.83333%; }
  .ju-col-lg-pull-right-5of24 {
    right: 20.83333%; }
  .ju-col-lg-6of24 {
    width: 25%; }
  .ju-col-lg-offset-left-6of24 {
    margin-left: 25%; }
  .ju-col-lg-offset-right-6of24 {
    margin-right: 25%; }
  .ju-col-lg-push-left-6of24 {
    left: 25%; }
  .ju-col-lg-pull-right-6of24 {
    right: 25%; }
  .ju-col-lg-7of24 {
    width: 29.16667%; }
  .ju-col-lg-offset-left-7of24 {
    margin-left: 29.16667%; }
  .ju-col-lg-offset-right-7of24 {
    margin-right: 29.16667%; }
  .ju-col-lg-push-left-7of24 {
    left: 29.16667%; }
  .ju-col-lg-pull-right-7of24 {
    right: 29.16667%; }
  .ju-col-lg-8of24 {
    width: 33.33333%; }
  .ju-col-lg-offset-left-8of24 {
    margin-left: 33.33333%; }
  .ju-col-lg-offset-right-8of24 {
    margin-right: 33.33333%; }
  .ju-col-lg-push-left-8of24 {
    left: 33.33333%; }
  .ju-col-lg-pull-right-8of24 {
    right: 33.33333%; }
  .ju-col-lg-9of24 {
    width: 37.5%; }
  .ju-col-lg-offset-left-9of24 {
    margin-left: 37.5%; }
  .ju-col-lg-offset-right-9of24 {
    margin-right: 37.5%; }
  .ju-col-lg-push-left-9of24 {
    left: 37.5%; }
  .ju-col-lg-pull-right-9of24 {
    right: 37.5%; }
  .ju-col-lg-10of24 {
    width: 41.66667%; }
  .ju-col-lg-offset-left-10of24 {
    margin-left: 41.66667%; }
  .ju-col-lg-offset-right-10of24 {
    margin-right: 41.66667%; }
  .ju-col-lg-push-left-10of24 {
    left: 41.66667%; }
  .ju-col-lg-pull-right-10of24 {
    right: 41.66667%; }
  .ju-col-lg-11of24 {
    width: 45.83333%; }
  .ju-col-lg-offset-left-11of24 {
    margin-left: 45.83333%; }
  .ju-col-lg-offset-right-11of24 {
    margin-right: 45.83333%; }
  .ju-col-lg-push-left-11of24 {
    left: 45.83333%; }
  .ju-col-lg-pull-right-11of24 {
    right: 45.83333%; }
  .ju-col-lg-12of24 {
    width: 50%; }
  .ju-col-lg-offset-left-12of24 {
    margin-left: 50%; }
  .ju-col-lg-offset-right-12of24 {
    margin-right: 50%; }
  .ju-col-lg-push-left-12of24 {
    left: 50%; }
  .ju-col-lg-pull-right-12of24 {
    right: 50%; }
  .ju-col-lg-13of24 {
    width: 54.16667%; }
  .ju-col-lg-offset-left-13of24 {
    margin-left: 54.16667%; }
  .ju-col-lg-offset-right-13of24 {
    margin-right: 54.16667%; }
  .ju-col-lg-push-left-13of24 {
    left: 54.16667%; }
  .ju-col-lg-pull-right-13of24 {
    right: 54.16667%; }
  .ju-col-lg-14of24 {
    width: 58.33333%; }
  .ju-col-lg-offset-left-14of24 {
    margin-left: 58.33333%; }
  .ju-col-lg-offset-right-14of24 {
    margin-right: 58.33333%; }
  .ju-col-lg-push-left-14of24 {
    left: 58.33333%; }
  .ju-col-lg-pull-right-14of24 {
    right: 58.33333%; }
  .ju-col-lg-15of24 {
    width: 62.5%; }
  .ju-col-lg-offset-left-15of24 {
    margin-left: 62.5%; }
  .ju-col-lg-offset-right-15of24 {
    margin-right: 62.5%; }
  .ju-col-lg-push-left-15of24 {
    left: 62.5%; }
  .ju-col-lg-pull-right-15of24 {
    right: 62.5%; }
  .ju-col-lg-16of24 {
    width: 66.66667%; }
  .ju-col-lg-offset-left-16of24 {
    margin-left: 66.66667%; }
  .ju-col-lg-offset-right-16of24 {
    margin-right: 66.66667%; }
  .ju-col-lg-push-left-16of24 {
    left: 66.66667%; }
  .ju-col-lg-pull-right-16of24 {
    right: 66.66667%; }
  .ju-col-lg-17of24 {
    width: 70.83333%; }
  .ju-col-lg-offset-left-17of24 {
    margin-left: 70.83333%; }
  .ju-col-lg-offset-right-17of24 {
    margin-right: 70.83333%; }
  .ju-col-lg-push-left-17of24 {
    left: 70.83333%; }
  .ju-col-lg-pull-right-17of24 {
    right: 70.83333%; }
  .ju-col-lg-18of24 {
    width: 75%; }
  .ju-col-lg-offset-left-18of24 {
    margin-left: 75%; }
  .ju-col-lg-offset-right-18of24 {
    margin-right: 75%; }
  .ju-col-lg-push-left-18of24 {
    left: 75%; }
  .ju-col-lg-pull-right-18of24 {
    right: 75%; }
  .ju-col-lg-19of24 {
    width: 79.16667%; }
  .ju-col-lg-offset-left-19of24 {
    margin-left: 79.16667%; }
  .ju-col-lg-offset-right-19of24 {
    margin-right: 79.16667%; }
  .ju-col-lg-push-left-19of24 {
    left: 79.16667%; }
  .ju-col-lg-pull-right-19of24 {
    right: 79.16667%; }
  .ju-col-lg-20of24 {
    width: 83.33333%; }
  .ju-col-lg-offset-left-20of24 {
    margin-left: 83.33333%; }
  .ju-col-lg-offset-right-20of24 {
    margin-right: 83.33333%; }
  .ju-col-lg-push-left-20of24 {
    left: 83.33333%; }
  .ju-col-lg-pull-right-20of24 {
    right: 83.33333%; }
  .ju-col-lg-21of24 {
    width: 87.5%; }
  .ju-col-lg-offset-left-21of24 {
    margin-left: 87.5%; }
  .ju-col-lg-offset-right-21of24 {
    margin-right: 87.5%; }
  .ju-col-lg-push-left-21of24 {
    left: 87.5%; }
  .ju-col-lg-pull-right-21of24 {
    right: 87.5%; }
  .ju-col-lg-22of24 {
    width: 91.66667%; }
  .ju-col-lg-offset-left-22of24 {
    margin-left: 91.66667%; }
  .ju-col-lg-offset-right-22of24 {
    margin-right: 91.66667%; }
  .ju-col-lg-push-left-22of24 {
    left: 91.66667%; }
  .ju-col-lg-pull-right-22of24 {
    right: 91.66667%; }
  .ju-col-lg-23of24 {
    width: 95.83333%; }
  .ju-col-lg-offset-left-23of24 {
    margin-left: 95.83333%; }
  .ju-col-lg-offset-right-23of24 {
    margin-right: 95.83333%; }
  .ju-col-lg-push-left-23of24 {
    left: 95.83333%; }
  .ju-col-lg-pull-right-23of24 {
    right: 95.83333%; }
  .ju-col-lg-24of24 {
    width: 100%; }
  .ju-col-lg-offset-left-24of24 {
    margin-left: 100%; }
  .ju-col-lg-offset-right-24of24 {
    margin-right: 100%; }
  .ju-col-lg-push-left-24of24 {
    left: 100%; }
  .ju-col-lg-pull-right-24of24 {
    right: 100%; } }
